.popup__error{
    color: red;
    display: block;
    visibility: hidden;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    min-height: 22px;
    width: 358px;
    margin: 5px auto;
}

@media screen and (max-width:515px) {
    .popup__error{
        height: 22px;
        width: 238px;
    }
    
}