.popup__input {
    display: block;
    width: 358px;
    height: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0;
    margin: 5px auto 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 515px) {
    .popup__input {
        width: 238px;
        height: 30px;
        margin: 3px auto;
    }
}