.profile__edit{
    border: 1px solid #fff;
    width:24px;
    height: 24px;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    font-size: 0;
    cursor: pointer;
    background: #000 url('../../../images/editpr.svg') center no-repeat;
    transition: opacity 0.2s ease-out;
    box-sizing: border-box;
    display: flex;
}

.profile__edit:hover{
    opacity: 0.4;
}

@media screen and (max-width:600px) {
    .profile__edit{
        width: 18px;
        height: 18px;
    }
    
}