.profile__status {
    margin: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    grid-column: 1/2;
    grid-row: 2/3;
}

@media screen and (max-width: 767px) {
    .profile__status {
        font-size: 16px;
        margin-bottom: 36px;
    }
}

@media screen and (max-width: 425px) {
    .profile__status {
        font-size: 14px;
        line-height: 1.21;
        max-width: 282px;
    }
}