.profile__add{
    box-sizing: border-box;
    border: 2px solid #fff;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    justify-content: center;
    transition: opacity 0.2s ease-out;
    background: #000 url('../../../images/Vector\ \(3\).svg') center no-repeat;
    font-size: 0;
    cursor: pointer;
    display: flex;

}
.profile__add:hover{
    opacity: 0.4;
}

@media screen and (max-width:600px){
    .profile__add{
        width:100%;
    }

    
}