.profile__plus {
    width: 22px;
    height: 22px;
    background-image: url(../../../images/plus.svg);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        width: 16px;
        height: 16px;
    }
}