.popup__container {
    width: 430px;
    min-height: 181px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 515px) {
    .popup__container {
        width: 282px;
    }
}