.element__like {
    background-image: url(../../../images/like.svg);
    background-size: cover;
    background-color: white;
    border: none;
    color: #FFFFFF;
    min-width: 22px;
    height: 19px;
    align-self: center;
    cursor: pointer;
    display: block;
}

.element__like:hover {
    opacity: .5;
}

.element__like:active {
    background-image: url(../../../images/like-active.jpg);
}