.header {
    min-height: 120px;
    max-width: 880px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    padding-top: 45px;
    box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
    .header {
        max-width: 90%;
    }
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 320px;
        min-height: 84px;
        padding-top: 28px;
        padding-left: 27px;
    }
}